<!DOCTYPE html>
<html>
<head>
  <title>Dreamline Travels</title>
  {{#if showTests}}
    <link rel="stylesheet" type="text/css" href="/vendor/mocha.css">
  {{/if}}
    <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js" integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
</head>
<body>
  <header><img src="/img/logo.jpg" alt="logo"></header>
  {{{body}}}

  {{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
      mocha.ui('tdd');
      var assert = chai.assert;
    </script>
    <script src="/qa/tests-global.js"></script>
    {{#if pageTestScript}}
      <script src"{{pageTestScript}}"></script>
    {{/if}}
      <script>mocha.run();</script>
  {{/if}}
</body>
</html>
