<!DOCTYPE html>
<html>
<head>
  <title>Dreamline Travels</title>
  {{#if showTests}}
    <link rel="stylesheet" href="/vendor/mocha.css">
  {{/if}}
</head>
<body>
  <header><img src="/img/logo.png" alt="logo"></header>
  {{{body}}}

    <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js" integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/vendor/js/jquery-3.5.0.slim.min.js"><\/script>')</script>
  {{{_sections.jquery}}}

  {{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
      mocha.ui('tdd');
      var assert = chai.assert;
    </script>
    <script src="/qa/tests-global.js"></script>
    {{#if pageTestScript}}
      <script src="{{pageTestScript}}"></script>
    {{/if}}
      <script>mocha.run();</script>
  {{/if}}
</body>
</html>
